<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a href="/" class="text-blue-500 inline-block mb-10">Go Back To home</a>
        <form action="/edit" method="post">
            <div>
                <input 
                type="text"
                placeholder="Previous name"
                class="bg-zinc-800 text-zinc-500 w-1/4 outline-none px-5 py-2 rounded-md"
                name="previous"
                value="<%= filename %>"
                >
            </div>
            <div class="my-2">
                <input 
                type="text"
                placeholder="New name"
                class="bg-zinc-800 w-1/4 outline-none px-5 py-2 rounded-md"
                name="new"
                >
            </div>
            <div>
                <input 
                type="submit"
                value="Update Name"
                class="bg-yellow-600 px-5 py-2 rounded-md cursor-pointer"
                >
            </div>
        </form>
    </div>
    
    <script src="/javascripts/script.js"></script>
</body>
</html>